<?xml version="1.0"?>
<launch>

	<arg name="marker_positions_file" default="$(find transport_box_loc)/launch/demo.yaml"/> 

  <node pkg="transport_box_loc" type="localizer_node" respawn="false" name="localizer_node" output="screen">
    <rosparam command="load" file="$(arg marker_positions_file)"/>
    <param name="pcd_filename"   type="string" value="$(find transport_box_loc)/launch/demo.pcd"  />

  </node>
</launch>
